absl-py==0.8.1
altgraph==0.17
astor==0.8.0
attrs==19.3.0
beautifulsoup4==4.8.2
bleach==1.5.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cmake==3.15.3
cycler==0.10.0
dill==0.3.1.1
future==0.18.2
gast==0.2.2
grpcio==1.26.0
h5py==2.10.0
html5lib==0.9999999
idna==2.8
imageai==2.1.5
kiwisolver==1.1.0
lxml==4.5.0
Markdown==3.1.1
matplotlib==3.1.2
myModule==1.0.0
numpy==1.17.4
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==1.0.2
pefile==2019.4.18
Pillow==6.2.1
promise==2.2.1
protobuf==3.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyInstaller==3.6
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.4
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.3.3
six==1.13.0
soupsieve==2.0
urllib3==1.25.7
virtualenv==16.7.8
vk==2.0.2
vk-api==11.6.1
Werkzeug==0.16.0
wrapt==1.11.2